*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter,Arial, Helvetica, sans-serif;

}
body{
    background-color: #14120b;
    color: #fff;
}
#navbar
{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background: #14120b;
    width: 85%;
    padding: 10px 0; 
    position: fixed;
    top: 0;
    left: 8%;
    /* max-width: 1200px; */
    margin: 0 auto;
    /* border: greenyellow solid 5px; */

    /* align-content:flex-start; */
}
.nav-child{
    display: flex;
    align-items: center;
    /* border: yellow solid 3px; */

}
.nav-center-link-container {
    display: flex;
    gap: 32px;
    
}
.nav-center-link-container a{
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #0000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.nav-end-button-container{
    display: flex;
    gap: 16px;
}

.nav-end-button-container button{
    background: none;
    cursor: pointer;
    font-size: 13px;
    padding: 5px 12px;
    border-radius: 999px;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
}
.nav-end-button-container button:first-child{
    color:#fff;
    border: 2px solid #5a584d99;
    /* padding: 5.6px 17.5px 8.68px; */
    /* font-weight: 500; */
}
.nav-end-button-container button:last-child{
    color:#000;
    background: #fff;
    border:none;
}

main{
    width: 85%;
    margin: 80px auto;
    text-align: left;
    /* border: 1px solid red; */
}
.main-up{
    max-width: 600px;
    padding-left: 8px;
}
.main-up p{
    font-size: 28px;
    line-height: 1.3;
    /* font-weight: 600; */
    margin-bottom: 20px;
}
.main-up button{
    border: none;
    border-radius: 999px;
    padding: 10px 32px;
    font-size: medium;
    font-weight: 300;
    cursor: pointer;
}

.main-down{
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.main-down img{
    width: 100%;
    /* max-width: 1000px; */
    border-radius: 4px;
    box-shadow: 0 30px 80px rgba(0, 0, 0, 0.6);
}

.trusted{
    width: 85%;
    margin: 100px auto;
    text-align: center;
}

.trusted-title{
    margin-bottom: 30px;
}

.trusted-logos{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
}

.logo-box{
    background: #1b1913;
    padding: 28px 0;
}

.features{
    width: 85%;
    margin: 140px auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.feature{
    display: flex;
    background: #1b1913;
    align-items: center;
    /* justify-content:space-between; */
    height: 630px;
    /* gap: 5px;     */
}

.feature.reverse{
    flex-direction: row-reverse;
}
.feature-text{
    /* flex-grow: 1; */
    max-width: 350px;
    margin-left: 20px;
}

.feature-text h2{
  font-size: 22px;
  font-weight: 300;
  /* margin-bottom: 20px; */
}
.feature-text p{
  font-size: 21px;
  font-weight: 300;
  /* line-height: 1; */
  color: #7c7777;
  margin-bottom: 20px;
}
.feature-text a {
  color: #ff6a00;
  text-decoration: none;
  font-weight: 500;
}

.feature-image{
    /* flex-grow: 2; */
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 100%;
    height: 90%;
}
.feature-image img {
  width: 100%;
  /* max-width: 650px; */
  border-radius: 5px;
}

.testimonals{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}

.testimonals h1{
    margin-bottom: 60px;
    font-weight: 100;
}

.testimonal-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}       

.testimonal-card{
    background: #1b1913;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,0.05);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
}
.testimonal-author{
    display: flex;
    gap: 12px;
}

.testimonal-text{
    font-size: 15px;
    font-weight: 100;
}

.author-image{
    height: 40px;
    width: 48px;
    border-radius: 4px;
}

.author-name{
    font-size: 12px;
    font-weight: 200;
}

.author-position{
    font-size: 12px;
    color: #999896;
}

.usecases{
    width: 85%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.usecase-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.usecase-card{
    padding: 15px;
    background: #1b1913;
    border-radius: 4px;
    max-height: 500px;
}
.usecases h3{
    font-size: 22px;
    font-weight: 500;
}

.usecase-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
    
}
.usecase-text p {
   
    font-size: 15px;
    /* font-weight:lighter; */
    font-family:Arial, Helvetica, sans-serif;
}

.muted-text{
    color: #999896;
}

.link{
    text-decoration: none;
    color: #f54e00;
    font-family:Arial, Helvetica, sans-serif;
}

.usecard-image{
    padding-top: 20px;   
}

.usecard-image img{
    width: 100%;   
}
.usecard-image img{
    height: 350px;
}

.logs{
    width: 85%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;    
}

.log-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.card-log{
    padding: 10px;
    background: #1b1913;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 20px;
    padding-bottom: 20px;
}

.logs a{
    text-decoration: none;
    color: #f54e00;
}

.logs h3{
    font-weight: 100;
    font-size: 25px;
}

.log-date{
    font-weight: 100;
    font-size: 15px;
    color: #999896;
}   

.log-desc{
    font-size: 15px;
    line-height: 1.5;
}

.aboutTeam{
    display: flex;
    width: 85%;
    margin: 100px auto;
    background: #1b1913;
    height:fit-content;
}

.aboutText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:25px;
    padding: 15px;
}

.aboutText a{
    text-decoration: none;
    color: #f54e00;
}
.aboutText p{
    font-size: 20px;
    line-height: 1.4;
    max-width: 400px;
}
.teamImage{
    padding: 10px;
}

.teamImage img{
    height: 500px;
    width: 850px;
    border: 1px solid rgba(255,255,255,0.05);;
    border-radius: 4px;
    outline: none;
}

.final-cta{
    width: 85%;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.final-cta h3{
    font-size: 65px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
}

.final-cta button{
    padding: 12px 25px;
    border-radius: 25px;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 15px;
}

.footer{
   background: #1b1913;
   height:max-content;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}
.container{
    width: 85%;
    margin: 100px auto;
    display: flex;
    gap: 170px;
    
}
.container div{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.container div p{
    color: #999896;
    font-size: 13px;
}
.container div a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.company-info{
    width: 85%;
    margin-left: 100px;
    padding: 10px;
    display: flex;
    gap: 20px
}
.company-info a{
    text-decoration: none;
    color: #999896;
    font-size: small;
}
